<h3>Order Options</h3>
<p>Coming Soon</p>
<h3>Menu Options</h3>
<p>{{#link-to 'employee-options.menu-options.create'}}Create New Menu Item{{/link-to}}</p>

<p>{{#link-to 'employee-options.menu-options.show'}}View Menu{{/link-to}}</p>
<p>{{#link-to 'employee-options.menu-options.edit'}}Edit Menu Item{{/link-to}}</p>
{{outlet}}
